/*Font*/
@import url('https://fonts.googleapis.com/css2? family= Poppins:wght@200;300;400;600;700 & display=swap');

/*Background*/
body{
    background:whitesmoke ;

}

/*variables para cambiar */
:root{

    /*Bg colors*/
--background:black;
--primary:white;
--secondary:grey;
--backgroundbutton:blue;
--nav-bg:black;

/*colores de texto*/

--blanco:white;
--negro:black;

/* fonts*/
--fontpoppins:"poppins";

/*tamaños de letra*/
--small:14px;
--medium:30 px;
--large:60 px;



}

*{ 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type:none ;
    text-decoration: none;
    font-family:var(--fontpoppins), sans-serif;
}
a{
color:var(--primary);
}
.header{
    background: var(--nav-bg);
    display: flex;
    justify-content: space-between;
    color: var(--blanco);
    align-items: center;
    padding: 20px 30px;
    position: fixed;
    width: 100%;
   
}
.navbar,
.navbar-list{
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar{
    gap:4rem;
}
.navbar-list{
    gap:40px;
}
.navbar-list a{
    color:var(--blanco) ;
}

.carrito-icon{
  width: 3rem;
  height: 3 rem;
}
.logo{
    width: 8rem;
    height: 8 rem;
}
.fotomicro{
    width: 10 rem;
    height: 10 rem;
}